page-vista {

    ion-avatar img  {
        width:100% !important;
        height : 100% !important;
        max-width: 350px !important;  //any size
        max-height: 350px !important; //any size
        
        }
    .item-md h1{
        text-align: center;

        }
    .item-md p{
        text-align: center;
    }

}
